github_owner     = "UPT-FAING-EPIS"
repository_name  = "proyecto-si784-2026-i-u2-analizador-de-dependencias-2"
public_site_url  = "https://upt-faing-epis.github.io/proyecto-si784-2026-i-u2-analizador-de-dependencias-2/"
minimum_coverage = 70
